/* Include the padding and border in an element's total width and height */
* {
  background: #152A38;
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 40px 12px 40px;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
/*ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}*/

/* Style the check button */
.check {
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 12px;
  background: transparent;
  border-radius: 100%;
}

.check:hover {
  background: rgba(41, 67, 92, 0.3);
  color: white;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 12px;
  background: transparent;
  border-radius: 100%;
}

.close:hover {
  background: rgba(41, 67, 92, 0.3);
  color: white;
}

/* Style the header */
.header {
  background-color: #29435C;
  padding: 1px 20px 10px;
  width: 450px;
  color: white;
  text-align: center;
  border-radius: 5px;
}

h2 {
  background: transparent;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the new task input */
input.newTask {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  color: white;
}

/* Style the stored task inputs */
input.taskName {
  background: transparent;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
}

/* Style checked tasks */
input.checked {
  /*background: #888;*/
  /*color: #fff;*/
  text-decoration: line-through;
}

/* Style the "Add" button */
.addButton {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addButton:hover {
  background-color: #bbb;
}
